/* Mobile first */
element.style {
    display: none;
}

section {
    margin: 3rem auto;
}

.dropdown {
    width: 10rem;
    background: var(--black-color);
    color: var(--yellow-color);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    margin: 2rem auto;
}

.dropdown-text {
    flex: 1;
    color: var(--yellow-color);
}

.dropdown i {
    transition: transform 0.3s ease;
}

/* Quand le menu est ouvert */
.dropdown.open i {
    transform: rotate(180deg); /* flèche vers le haut */
}

.dot {
    pointer-events: none;
}


.bxs-down-arrow {
    z-index: 1;
}

.dropdown::after {
    font-size: 12px;
}

ul.categories {
    list-style: none;
    background: var(--black-color);
    position: relative;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

li.prod_cat.all {
    margin: 0;
}

li.prod_cat {
    align-self: center;
}

ul.categories li {
    color: var(--main-color);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

ul.categories li:last-child {
    border-bottom: none;
}

ul.categories li:hover {
    background: var(--main-color);
    color: var(--black-color);
}

/* Affichage du menu quand actif */
ul.categories.active {
    display: block;
}

/* Organisation des produits */
ul.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: stretch;
    max-width: 100%;
    padding: 0;
}

ul.products li {
    margin: 2rem auto;
}

h2.prod_name {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    min-height: 2.5rem;
    max-width: 10rem;
}

h2 {
    margin: 0;
    padding: 0;
    align-content: center;
}

/* Taille des images */
.prod_img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}


.all {
    cursor: pointer;
    margin-bottom: 2rem;
}


li.product.all {
    flex-direction: column-reverse;
}



.order-banner {
    background-color: #e63946;
    color: white;
    padding: 5px 10px;
    margin: 2px 0;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

/* Assure que chaque produit est positionné relativement */
.product {
    position: relative;
}


.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal.hidden {
    display: none;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 20px #000;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 10000;
}


/* grands écrans */
@media (min-width: 768px) {

    .dropdown {
        display: none;
    }

    ul.categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 65px;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        box-sizing: border-box;
    }

    .selected {
        margin: 0;
    }

    ul.categories li {
        display: block;
        text-align: center;
        flex-shrink: 1;
        box-sizing: border-box;
        font-size: 12px;
    }

    ul.products {
        grid-template-columns: repeat(4, 1fr);
    }

    li.product.all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dot {
        display: flex;
        align-content: center;
    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    padding: 0 10px;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.search-container input:focus {
    border-color: var(--yellow-color);
    outline: none;
}

.search-container i {
    font-size: 1.5rem;
    color: var(--green-color);
}


@media (min-width: 560px) and (max-width: 767px) {
    ul.products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 880px) {
    ul.categories li {
        font-size: .9rem;
    }    
}